.avtar img{
    width: 125px;
    height: 125px;
    margin: 10px;
}
.meme {
    margin: 10px;
    position: relative;
}
.meme img{
    width: 37%;
}
.top{
    position: absolute;
    top: 0px;
    padding-left: 43%;
    color: #fff;
    font-style: bold;
    text-transform: capitalize;
}
.bottom{
    position: absolute;
    top: 75%;
    color: #fff;
    padding-left: 43%;
    font-style: bold;
    text-transform: capitalize;
}
.form-meme {
    margin: 10px;
}
.meme-class {
    text-align: center;
}